{% extends 'base.html' %}
{% from "macroses.html" import
    temperature_widget,
    collector_widget,
    pressure_widget,
    humidity_widget,
    mcu_temperature_widget
%}

{% block title %}Инфо{% endblock %}

{% block content %}
    {{ temperature_widget(measurement.avg_temperature) }}
    {{ collector_widget(measurement.temperature_collector) }}
    {{ pressure_widget(measurement.pressure_mm) }}
    {{ humidity_widget(measurement.humidity) }}
    Температура контроллера: <span id="temperature_unit">{{ measurement.temperature_unit }}</span> °C<br>
    <br>
    <small>Данные получены в <span id="timestamp">{{ measurement.timestamp }}</span></small><br>
    <small>Источник: <a href="http://192.168.0.195">192.168.0.195</a></small>
{% endblock %}

{% block scripts %}
    <script src="static/js/info.js"></script>
{% endblock %}
