{% macro put_class_if(condition, class) %}
    {% if (condition) %}
        class="{{ class }}"
    {% endif %}
{% endmacro %}

{% macro put_if(condition, something) %}
    {% if (condition) %}
        {{ something }}
    {% endif %}
{% endmacro %}

{% macro sensor_widget(id, value, descr, color, units, file_name, disabled=False) %}
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{ color }} {{ put_if(disabled, "grayscale") }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <object class="svg" data="static/svg/{{ file_name }}.svg" type="image/svg+xml"></object>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div id="{{ id }}" class="huge">{{ value }}</div> {{ units }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">{{ descr }}</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro temperature_widget(value, disabled=False) %}
    {{ sensor_widget('avg_temperature', value, 'Наружная температура', 'green', '°C', 'thermometer', disabled) }}
{% endmacro %}

{% macro collector_widget(value, disabled=False) %}
    {{ sensor_widget('temperature_collector', value, 'Температура коллектора', 'red', '°C', 'thermometer', disabled) }}
{% endmacro %}

{% macro pressure_widget(value, disabled=False) %}
    {{ sensor_widget('pressure_mm', value, 'Давление', 'yellow', 'мм.рт.ст.', 'barometer', disabled) }}
{% endmacro %}

{% macro humidity_widget(value, disabled=False) %}
    {{ sensor_widget('humidity', value, 'Влажность', 'primary', '%', 'humidity', disabled) }}
{% endmacro %}

{% macro mcu_temperature_widget(value, disabled=False) %}
    {{ sensor_widget('temperature_unit', value, 'Температура контроллера', 'success', '°C', 'thermometer', disabled) }}
{% endmacro %}
